@charset "UTF-8";
.on{
	font-weight: 900;
    background-color: darkgray;
}

.btn-align{
	width:49%;
}

#bg{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	background:rgba(0,0,0,0.6);
}

.loading {position: fixed; left:50%; top:50%; transform: translate(-50%, -50%); z-index: 12; width: 32px; height: 32px;}
.loading img{width:100%;}

