<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<select id="login" resultType="boolean">
		<![CDATA[
		SELECT count(*)
		FROM T_MEMBER
		where user_id=#{userId}
		and join_info=#{joinInfo}
		]]>
		<if test="joinInfo eq 'l'.toString()">
			and passwd=#{passwd}
		</if>
		
	</select>
	
	<select id="getUserInfo" resultType="MemberDTO">
		<![CDATA[
		SELECT 	A.USR_IDX
				,A.USER_ID
				,A.JOIN_INFO
				,B.NICK_NAME
				,B.IMG_NAME
				,B.RATING
		FROM T_MEMBER A JOIN T_MEMBER_DETAIL B
		ON A.USR_IDX = B.USR_IDX
		WHERE A.USER_ID = #{userId}
		]]>
	</select>
	
	<select id="idCheck" resultType="int">
		<![CDATA[
		SELECT count(*)
		FROM T_MEMBER
		WHERE user_id = #{userId}
		]]>
	</select>
	
	<insert id="signUp">
		<![CDATA[
		INSERT INTO T_MEMBER(user_id,passwd,join_info)
		VALUES (#{userId},#{passwd},#{joinInfo});
		]]>
	</insert>
	
	<insert id="signUp2">
		INSERT INTO T_MEMBER_DETAIL(
										usr_idx,
										name,
										nick_name,
										phon_number,
										email,
										img_name,
										INST_DATE
									)
		VALUES (
					(select usr_idx from T_MEMBER where(user_id=#{userId})),
					#{name},
					#{nickName},
					#{phonNumber},
					#{email},
					#{imgName},
					now()
				);
	</insert>
	
	<insert id="insertLoginHis" parameterType="int">
		INSERT INTO T_LOGIN_HIS VALUES(#{usrIdx},now())
	</insert>

</mapper>